body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5eaccb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-sitio {
    width: 100px;
    height: 25%;
    padding-right: 25px;

}

h1 {
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Poppins', cursive;
    font-weight: 400;
    font-size: 2.5em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    align-items: start;
    
}

.buscador {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

#inputBusqueda {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    margin-right: 10px;
    width: 300px;
}

#botonBuscar {
    padding: 10px 20px;
    background-color: #5eaccb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tarjetaProducto h3, h4 {
    font-size: 18px;
}

.accordion-container {
    grid-column: 1;
    grid-row: 2;
    max-height: 400px; 
    overflow-y: auto;
    background-color: #f0f0f0;
}

.accordion-container .accordion-body li {
    list-style: none;
    cursor: pointer;
}
.accordion-button:not(.collapsed) {
    background-color: #5eaccb; 
    color: #ffffff  ; 
}

#catalogo {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjetaProducto {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33.33% - 20px);
    margin: 10px; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.tarjetaProducto:hover {
    transform: translateY(-5px);
}

.tarjetaProducto h3 {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.tarjetaProducto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.tarjetaProducto h4 {
    text-align: center;
    margin: 10px 0;
}

.tarjetaProducto button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tarjetaProducto button:hover {
    background-color: #45a049;
}

.carrito {
    grid-column: 3;
    grid-row: 2;
    position: sticky;
    top: 20px;
    width: 250px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#carritoIcono {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

#carritoContenido {
    margin-top: 10px;
}

#carritoContenido>div {
    margin-bottom: 5px;
}

#carritoContenido .btn-vaciar{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#carritoContenido .btn-vaciar:hover {
    background-color: #d32f2f;
}

#carritoContenido .btn-comprar {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-eliminar {
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#carritoContenido .btn-comprar:hover {
    background-color: #3c883e;
}